.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.f-label {
  font-size: 24px;
}

.f-button {
  color: white;
  background: black;
}

.f-textinput {
  color: white;
  background: black;
}

.f-radio-item {
  margin-right: 12px;
}

.f-formitem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: 24px;
  margin-top: 24px;
}

.f-formitem-label {
  display: flex;
  font-size: 10px;
}

.f-hint .f-label {
  font-size: 12px;
}

.f-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-form input[type="submit"] {
  color: white;
  background: black;
  font-size: 14px;
  margin: 14px;
}

.f-picture-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}

.f-picture-panel .f-button,
.f-picture-panel img {
  margin-top: 24px;
}

.f-image-left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
