.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fish-label {
  font-size: 24px;
}

.fish-button {
  color: white;
  background: black;
}

.fish-textinput {
  color: white;
  background: black;
  font-size: 16px;
}

.fish-radio-item {
  margin-right: 12px;
  font-size: 14px;
}

.fish-formitem {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 24px;
}

.fish-formitem .fish-icon {
  margin-left: 12px;
}

.fish-formitem-label {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.fish-hint {
  height: 20px;
}

.fish-hint .fish-label {
  font-size: 12px;
}

.fish-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.fish-form input[type='submit'] {
  color: white;
  background: black;
  font-size: 20px;
  margin: 14px;
}

.fish-picture-panel {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
}

.fish-picture-panel img {
  margin-top: 20px;
  height: 55%;
}

.fish-picture-panel .fish-button {
  font-size: 20px;
  margin-top: 20px;
}

.fish-image-left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: invert(100%);
}

.fish-linear-list {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 90%;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
}

.fish-linear-list-item {
  display: flex;
  height: 100%;
  align-items: center;
}

.fish-form-error .fish-label {
  color: red;
  font-size: 14px;
}
